<div class="panel no-bt mbl">
  <div class="row collapse">
    <div class="medium-12 columns">
      <h4 class="no-m pts pbs">Download report</h4>
    </div>
  </div>
</div>
<%= form_tag url: new_reports_path do %>
  <div class="row mt mb">

    <div class="medium-6 columns">

      <%= label_tag 'Label' %>
      <%= select_tag 'label', options_from_collection_for_select(Label.all, "id", "name") %>

    </div>

    <div class="medium-6 columns">
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns bt">
      <%= submit_tag 'Download', class: 'success button radius mtl' %>
    </div>
  </div>
<% end %>
